.corporate-cms {
    @include flex-start-between;

    &__heading {
        max-width: 500px;
    }

    &__advantages {
        margin-top: 70px;
        list-style: none;
        display: grid;
        row-gap: 35px;
    }

    &__advantage {
        padding-left: 50px;
        background: url("../img/star.svg") no-repeat top left / 24px;
        opacity: 87%;
    }

    &__content {
        max-width: 1140px;
        width: 100%;
        transition: all 0.5s;
    }

    &__about {
        @include flex-center-between;
        padding: 50px 70px;
        border-radius: 75px;
        background: $dark;
        
        &-img-wrap {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 270px;
            width: 270px;
            height: 270px;
            background: url("../img/corporate-cms-img-wrap.svg") no-repeat center / cover;

            &::after {
                position: absolute; 
                content: '';
                display: flex;
                bottom: -30px;
                right: -17px;
                width: 63px;
                height: 69px;
                background: url("../../../img/corporate-cms-img-arrow.svg") no-repeat center / 100%;
                transform: rotate(-33deg);
            }
        }

        &-img-text {
            color: #383838;
            font-family: "Roboto Flex";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            text-transform: uppercase;
        }

        &-content {
            max-width: 573px;
            opacity: 0;
            display: none;

            &_active {
                transform: translateX(0);
                opacity: 1;
                display: block;
            }
        }

        &-list {
            margin-top: 30px;
            list-style: none;
            display: grid;
            row-gap: 20px;
        }

        &-item {
            display: flex;
            align-items: flex-start;

            &-num {
                color: #14CD91;
                font-family: "Roboto Flex";
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
                letter-spacing: 0.48px;
                display: flex;
                margin-right: 20px;
                transform: translateY(3px);
            }

            &-text {
                max-width: 541px;
            }
        }
    }
    
    &__cards {
        position: relative;
        @include flex-center-between;
        margin-top: 50px;
    }

    &__card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
            width: 270px;
            height: 270px;
        }

        &-more {
            background: $dark;
            width: 270px;
            height: 270px;
            border-radius: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(255, 255, 255, 0.40);
            font-family: Geist;
            font-size: 42px;
            font-style: normal;
            font-weight: 800;
            line-height: 110%;
            letter-spacing: 1.121px;
            text-transform: uppercase;
        }

        &-text {
            margin-top: 13px;
            color: rgba(255, 255, 255, 0.60);
            font-family: "Roboto Flex";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.48px;
        }
    }

}

// 1024px: стек заголовка/контента
@include media('tablet-landscape') {
    .corporate-cms {
        flex-direction: column;
        &__content { max-width: 100%; }
        &__about { flex-direction: column; row-gap: 20px; padding: 40px; }
        &__cards { justify-content: flex-start; gap: 20px; flex-wrap: wrap; }
    }
}

// 768px: центрирование картинок
@include media('mobile-landscape') {
    .corporate-cms {
        &__about-img-wrap { margin: 0 auto; }
    }
}