.corporate-about {
    &__heading {
        @include flex-start-between;
    }

    &__content {
        @include column;
    }

    &__title {
        max-width: 748px;
    }

    &__info {
        margin-top: 40px;
        max-width: 644px;
    }

    &__cards {
        display: grid;
        gap: 50px;
        margin-top: 75px;
    }

    &__card {
        display: flex;
        align-items: center;
        background-color: $dark;
        width: 100%;
        border-radius: $border-radius;

        &-info {
            width: 50%;
            padding: 52px 67px;
        }

        &-title {
            position: relative;
            padding-left: 34px;
            display: flex;
            align-items: center;

            &::before {
                position: absolute;
                content: '';
                display: flex;
                left: 0;    
                width: 23px;
                height: 23px;
                background: $accent;
                border-radius: 50%;
            }
        }

        &-text {
            margin-top: 23px;
            max-width: 693px;
        }

        &-img-wrap {
            width: 50%;
            height: 100%;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius;
            overflow: hidden;
        }
    }
}

// 768px: заголовок в колонку, карточка 100%
@include media('mobile-landscape') {
    .corporate-about {
        &__heading { flex-direction: column; align-items: flex-start; gap: 16px; }
        &__card {
            flex-direction: column;
            &-info, &-img-wrap { width: 100%; }
            &-info { padding: 32px; }
            &-img { height: auto; }
        }
    }
}