.corporate-advantage {

    &__heading {
        @include flex-start-between;
        column-gap: 50px;
    }

    &__title {
        max-width: 765px;
    }

    &__info-wrap {
        @include column
    }

    &__info {
        max-width: 537px;
    }

    &__cards {
        @include flex-center-between;
        gap: 25px;
        margin-top: 69px;
    }

    &__card {
        position: relative;
        max-width: 555px;
        width: 100%;
        height: 494px;
        background-color: $dark;
        padding: 45px;
        border-radius: $border-radius;

        &-icon {
            height: 99px;
            width: 99px;   

            &_present {
                background: url("../img/corporate-advantage-1.png") no-repeat center / cover;
            }
            &_trust {
                background: url("../img/corporate-advantage-2.png") no-repeat center / cover;
            }
            &_sell {
                background: url("../img/corporate-advantage-3.png") no-repeat center / cover;
            }
        }

        &-title {
            margin-top: 115px;
        }

        &-text {
            margin-top: 33px;
            max-width: 416px;
        }

        &-num {
            position: absolute;
            font-family: GeistExtraBold, sans-serif;
            font-size: 76px;
            line-height: 110%;
            letter-spacing: 2px;
            color: $light;
            opacity: 5%;
            right: 34px;
            bottom: 10px;
        }
    }

}

// 768px: заголовок в колонку, карточки в колонку
@include media('mobile-landscape') {
    .corporate-advantage {
        &__heading { flex-direction: column; align-items: flex-start; gap: 16px; }
        &__cards { flex-direction: column; }
        &__card { height: auto; }
    }
}