.protection-advantages {

    &__heading {
        @include flex-start-between;
    }

    &__title {
        max-width: 581px;
    }

    &__info {
        max-width: 537px;
    }

    &__content {
        margin-top: 90px;
        @include flex-center-between;
        gap: 57px;
    }

    &__content-wrap {
        position: relative;
        max-width: 802px;
        width: 100%;
        max-height: 700px;
        aspect-ratio: 802 / 700;
    }

    &__content-item {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        max-width: 802px;
        width: 100%;
        max-height: 700px;
        aspect-ratio: 802 / 700;
        border-radius: $border-radius;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        
        &--active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__content-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        // height: 100%;
        min-width: 50%;
        align-self: stretch;
    }

    &__card {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 64px;


        &-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0);
            transition: all 0.3s ease-in-out;
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 1px;
            background-color: #303030;
            transition: all 0.3s ease-in-out;
        }

        &:last-child::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 1px;
            background-color: #303030;
            transition: all 0.3s ease-in-out;
        }


        &--active &-number {
            color: $accent;
        }

        &--active &-background {
            width: calc(100% + 80px);
            left: -80px;
            background-color: rgba(255, 255, 255, 0.02);
        }

        &--active::before, &--active::after {
            width: calc(100% + 80px) !important;
            left: -80px !important;
        }

        &--active-next::before, &--active-next::after {
            width: calc(100% + 80px);
            left: -80px;
        }
    }

    &__card-number {
        font-size: 25px;
        font-weight: 800;
        line-height: 100%;
        font-family: 'Geist', sans-serif;
        color: rgba(255, 255, 255, 0.2);
    }

    &__card-title {
        font-size: 30px;
        font-weight: 600;
        line-height: 100%;
    }

    &__card-text {
        font-size: 24px;
        line-height: 100%;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.2);
    }
}