.real-projects {

    &__heading {
        @include flex-start-between;
    }

    &__sub {
        color: rgba(255, 255, 255, 0.20);
        font-family: Geist;
        font-size: 24.707px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        letter-spacing: 0.824px;
        text-transform: uppercase;
    }

    &__title {
        @include column
    }

    &__swiper {
        margin-top: 80px;
        overflow: hidden;

        .swiper-pagination {
            width: auto;
        }
    }

    .cases__card {
        display: flex;
        height: 550px;
        justify-content: space-between;
    }

    &__button {
        @include flex-center-center;
        margin-top: 20px;
        cursor: pointer;
        width: 100%;
        height: 85px;
        background: $dark;
        border: none;
        color: $light;
        font-family: "Roboto Flex";
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.48px;
        border-radius: $border-radius;
    }

    &__button-icone {
        margin-right: 25px;
        width: 30px;
        height: 30px;
        background: url("../img/star.svg") no-repeat center / cover;
    }

    &__footer { 
        @include flex-start-between;
        margin-top: 40px;
    }
}

// 768px: заголовок и футер в колонку
@include media('mobile-landscape') {
    .corporate-projects {
        &__heading { flex-direction: column; align-items: flex-start; gap: 16px; }
        &__footer { flex-direction: column; align-items: flex-start; gap: 16px; }
        .cases__card { height: auto; }
    }
}
