@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@font-face {
  font-family: 'Geist';
  src: url("../fonts/Geist/Geist-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url("../fonts/Geist/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url("../fonts/Geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url("../fonts/Geist/Geist-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

// @font-face {
//   font-family: 'Golos';
//   src: url("../fonts/Golos/GolosText-Regular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'GolosSemiBold';
//   src: url("../fonts/Golos/GolosText-SemiBold.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// };