.chatbots-tasks {

    &__heading {
        @include flex-start-between;
    }

    &__content {
        @include column;
    }

    &__title {
        max-width: 560px;
    }

    &__info {
        max-width: 660px;
    }

    &__cards {
        margin-top: 69px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: 47px;
        background-color: $dark;
        border-radius: $border-radius;

        &:nth-child(1) .chatbots-tasks__card-icon {
            background: url(../../../img/chatbots-card-01.svg) no-repeat center / cover;
        }
        &:nth-child(2) .chatbots-tasks__card-icon {
            background: url(../../../img/chatbots-card-02.svg) no-repeat center / cover;
        }
        &:nth-child(3) .chatbots-tasks__card-icon {
            background: url(../../../img/chatbots-card-03.svg) no-repeat center / cover;
        }
    }

    &__card-heading {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__card-icon {
        width: 56px;
        height: 56px;
        min-width: 56px;
        min-height: 56px;
    }

    &__card-title {
        // font-size: 30px;
        letter-spacing: 0.48px;
        line-height: 100%;
        font-weight: 600;
        font-size: clamp(21px, calc(28px - (1920px - 100vw) * 0.02), 28px);
    }

    &__card-text {
        margin-top: 30px;
    }

    &__card-chat {
        margin-top: 71px;
        display: flex;
        flex-direction: column;
        gap: 9.5px;
    }

    &__card-message {
        font-size: 16px;
        letter-spacing: 0.48;
        padding: 20px 24px 20px 28px;
        max-width: 256px;
        width: 100%;
        line-height: 125%;

        &:nth-child(odd) {
            align-self: flex-start;
            background: #1F1F1F;
            color: #C6C6C6;
            border-radius: 26px 26px 26px 0;
        }
        &:nth-child(even) {
            align-self: flex-end;
            background: $accent;
            border-radius: 26px 26px 0 26px;
        }
    }
}