.tech {
  margin-top: 150px;
  padding-left: 90px;
  padding-right: 90px;
}
.tech__title {
  font-family: "Geist";
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: -2px;
  background: var(--linear-text-app, linear-gradient(180deg, #F5F5F5 0%, #F5F5F5 29%, #999 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tech__info {
  color: #B3B3B3;
  font-family: "Geist Mono", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  margin-top: 16px;
}
.tech__categories {
  max-width: 376px;
  width: 100%;
  gap: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0.5em;
  height: fit-content;
}
.tech__category {
  padding: 15px;
  max-width: 173px;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.tech__category-img {
  margin-right: 13px;
  width: 24px;
  height: 24px;
}
.tech__category-text {
  color: #B3B3B3;
  font-family: "Inter", sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
.tech__cards {
  margin-top: 50px;
}
.tech__cards-center {
  row-gap: 25px;
}
.tech__card {
  padding: 13px;
  border-radius: 24px;
  border: 1px solid #333;
}
.tech__card-left:not(:last-child) {
  margin-bottom: 40px;
}
.tech__card-center {
  max-width: 47%;
  width: 100%;
  height: 154px;
}
.tech__card-right {
  height: 260px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}
.tech__card-content {
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #333;
  background: #0C0C0C;
  box-shadow: 0px 0px 27px 0px #2D2D2D;
  width: 100%;
  height: 100%;
}
.tech__card-left-title {
  margin-top: 26px;
  font-family: "Geist", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.96px;
}
.tech__card-left-text {
  display: flex;
  margin-top: 10px;
  color: #B3B3B3;
  font-family: "Geist Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}