.case-section {
    @include flex-start-between;
    margin-top: 120px;
    padding-bottom: 90px;
    border-bottom: 1px solid #303030;

    &__content {
        @include column;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 0.48px;
        line-height: 116%;
    }

    &__texts-wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 60px;
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &--accent {
            list-style: none;
            
            & .case-section__item {
                position: relative;
                padding-left: 64px;
            }

            & .case-section__item::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                background: url(../img/case-section-star.svg) no-repeat center;
            }
        }
    
        &--normal {
            margin-left: 20px;
        }
    }

    &__image-wrap {
        width: 100%;
        aspect-ratio: 852/810;
        border-radius: 35px;
        overflow: hidden;
        margin: 90px 0;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}